<div>
  <label class="acc-label">
    {{t 'formImage.label'}}{{field-required}}
  </label>
</div>
<div>
  {{input-suggest
    value=userInput
    grouped=suggestions
    placeholder=(t 'formImage.container.placeholder')
  }}
</div>
{{#if (gt harborImageTags.length 0)}}
<div>
  <label class="acc-label">
    Tags
  </label>
</div>
<div style="display: flex;">
  {{new-select
    value= imageTag
    content= harborImageTags
    optionValuePath="name"
    optionLabelPath="name"
    prompt="Choose Image Tag"
    localizedLabel=false
  }}
</div>
{{/if}}