<div class="row">
  <div class="col span-6">
    <label
      class="acc-label"
      for="input-gcs-bucket-name"
    >
      {{t "globalMonitoringPage.store.gcs.bucketName.label"}}
      <FieldRequired/>
    </label>
    {{input
      id="input-gcs-bucket-name"
      type="text"
      value=bucketName
      class="form-control"
      placeholder=(t "globalMonitoringPage.store.gcs.bucketName.placeholder")
    }}
  </div>
</div>
<div class="row">
  <div class="col span-12">
    {{input-text-file
      classNames="box"
      id="input-gcs-service-account"
      label="globalMonitoringPage.store.gcs.serviceAccount.label"
      value=serviceAccount
      accept="text/*, .json"
      minHeight=60
      canChangeName=false
      nameRequired=true
      placeholder="globalMonitoringPage.store.gcs.serviceAccount.placeholder"
      concealValue=true
    }}
  </div>
</div>