<section style="width: 100%;">
  <div style="font-size: 1.5em;height: 30px;" class="clip">{{model.repo.name}}</div>
</section>
<section class="header has-tabs clearfix pb-0">
  <ul class="tab-nav">
    <li>
      {{#link-to "image-repo.projects.detail.repositories" model.projectId model.currentUserRoleId}}镜像仓库{{/link-to}}
    </li>
    {{#if (or isSystemAdmin isMember)}}
    <li>
      {{#link-to "image-repo.projects.detail.members" model.projectId model.currentUserRoleId}}成员{{/link-to}}
    </li>
    {{/if}}
    {{!-- <li>
      {{#link-to "image-repo.projects.detail.replications" model.projectId}}复制{{/link-to}}
    </li> --}}
    {{#if (or isProjectAdmin isSystemAdmin)}}
    <li>
      {{#link-to "image-repo.projects.detail.labels" model.projectId model.currentUserRoleId}}标签{{/link-to}}
    </li>
    {{/if}}
    {{#if (or isSystemAdmin isMember)}}
    <li>
      {{#link-to "image-repo.projects.detail.logs" model.projectId model.currentUserRoleId}}日志{{/link-to}}
    </li>
    {{/if}}
    {{#if (or isSystemAdmin isMember)}}
    <li>
      {{#link-to "image-repo.projects.detail.configs" model.projectId model.currentUserRoleId}}配置管理{{/link-to}}
    </li>
    {{/if}}
  </ul>
</section>
<section>
{{#custom-labels labelParam=labelParam isProjectLabel=true}}{{/custom-labels}}
</section>